<header class="siteHeader">
    <div class="container-nav">
        <h1 class="logoSite">Symfony Bike</h1>
        <nav class="main-nav">
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('velos') }}">Vélos</a></li>
                <li><a href="">Panier</a></li>
                <li><a href="{{ path('login') }}">Se connecter</a></li>
            </ul>
        </nav>
    </div>
</header>
