{% extends 'base.html.twig' %}

{% block content %}
	{% include '_header.html.twig' %}
	<div class="conteneurAdminProduit">
		<h2>Ajout d'un nouveau produit</h2>
		<form method="POST" class="formulaireProduit">
			<div class="champProduit">
				<label for="name" class="labelProduit">Nom du produit :</label>
				<input type="text" id="name" name="name" required>
			</div>

			<div class="champProduit">
				<label for="price" class="labelProduit">Prix :</label>
				<input type="number" id="price" name="price" required>
			</div>

			<div class="champProduit">
				<label for="description" class="labelProduit">Description :</label>
				<textarea id="description" name="description" required></textarea>
			</div>

			<div class="champProduit">
				<label for="stock" class="labelProduit">Stock :</label>
				<input type="number" id="stock" name="stock" required>
			</div>

			<div class="champProduit">
				<label for="poids" class="labelProduit">Poids :</label>
				<input type="number" id="poids" name="poids" required>
			</div>

			<div class="champProduit">
				<label for="couleur" class="labelProduit">Couleur :</label>
				<input type="text" id="couleur" name="couleur" required>
			</div>

			<div class="champProduit">
				<label for="marque" class="labelProduit">Marque :</label>
				<input type="text" id="marque" name="marque" required>
			</div>

			<div class="champProduit">
				<label for="tableUrlImages" class="labelProduit">URLs des images :</label>
				<div class="images-container">
					<div class="image-entry">
						<label class="labelAjoutImage">Image 1 :
							<input type="text" name="images[0]" placeholder="Entrez l'URL de l'image" required></label>
					</div>
					<div class="image-entry">
						<label class="labelAjoutImage">Image 2 :
							<input type="text" name="images[1]" placeholder="Entrez l'URL de l'image"></label>
					</div>
					<div class="image-entry">
						<label class="labelAjoutImage">Image 3 :
							<input type="text" name="images[2]" placeholder="Entrez l'URL de l'image"></label>
					</div>
					<div class="image-entry">
						<label class="labelAjoutImage">Image 4 :
							<input type="text" name="images[3]" placeholder="Entrez l'URL de l'image"></label>
					</div>
				</div>
			</div>
			<div class="champProduit">
				<label for="status" class="labelProduit">Status :
					<select id="status" name="status" class="selectCateg" required>
						{% for status in productStatus %}
							<option value="{{ status.value }}" {% if status.value == product.status %} selected {% endif %}>{{ status.value }}</option>
						{% endfor %}
					</select>
				</label>
			</div>
			<div class="champProduit">
				<label for="category" class="labelProduit">Catégorie :
					<select id="category" name="category" class="selectCateg" required>
						{% for category in categories %}
							<option value="{{ category.id }}">{{ category.CategoryName }}</option>
						{% endfor %}
					</select>
				</label>
			</div>
			<input type="submit" class="btnEnregistrer" onclick="return confirm('Êtes-vous sûr de confirmer l\'ajout ?');" value="Ajouter le produit"/>
		</form>
	</div>
	{% include '_footer.html.twig' %}
{% endblock %}
