<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Symfony Bike</title>
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
	</head>
	<body>
		{% block body %}
			<header>
				<h1>Welcome to Symfony Bike</h1>
			</header>
			<main>
				<p>Page d'accueil</p>
			</main>
		{% endblock %}
	</body>
</html>
