{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    {% include '_header.html.twig' %}

    <div class="accueilIntro">
        <div class="container">
            <h1>Bienvenue !</h1>
            <p>Découvrez notre sélection de vélos.</p>
            <a href="{{ path('velos') }}" class="btnRedirection">Voir nos vélos</a>
        </div>
    </div>

    {% include '_footer.html.twig' %}
{% endblock %}
