{% extends 'base.html.twig' %}

{% block content %}
<form action="{{ path('login') }}" method="post" class="loginForm">
    <h2>Connexion</h2>
    <div class="formGroup">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ app.request.get('_username') }}" required>
    </div>

    <div class="formGroup">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="_password" required>
    </div>

    <button type="submit" class="btnLogin">Se connecter</button>

    <div class="signupLink">
        <p>Pas encore de compte ? <a href="{{ path('register') }}" class="signupButton">S'inscrire</a></p>
    </div>
</form>
{% endblock %}
