{% extends 'base.html.twig' %}

{% block title %}Liste des vélos
{% endblock %}

{% block content %}
	{% include '_header.html.twig' %}
	{# live components #}
	<main class="veloListContainer">
		<div class="container">
			<h2>{{ 'our_bikes_2'|trans}}</h2>
			<div {{ component('VeloSearch') }}></div>
		</div>
	</main>
	{% include '_footer.html.twig' %}
{% endblock %}
